<!DOCTYPE html>
<html>
<head>
  <title>Kazutori</title>
  <%= stylesheet_link_tag    "kazutori/application", media: "all" %>
  <%= javascript_include_tag "kazutori/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
